<!-- 全局遮罩状态 -->
<div class="overlay">
    <img src="/public/images/loading.gif">
</div>
<div class="aside">
    <!-- 个人资料 -->
    <div class="profile">
        <!-- 挖个坑 -->
    </div>
    <!-- 导航菜单 -->
    <div class="navs">
        <ul class="list-unstyled">
            <li>
                <a href="/index/index">
                    <i class="fa fa-home"></i> 仪表盘
                </a>
            </li>
            <li>
                <a href="./user_list.html">
                    <i class="fa fa-bell"></i> 分类管理
                </a>
            </li>
            <li>
                <a href="/teacher/list">
                    <i class="fa fa-bell"></i> 讲师管理
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-cog"></i> 课程管理
                    <i class="arrow fa fa-angle-right"></i>
                </a>
                <ul class="list-unstyled">
                    <li>
                        <a href="/course/add">
                             课程添加
                        </a>
                    </li>
                    <li>
                        <a href="/course/list">
                            课程列表
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
